<style>

/*background of the intire page*/

body {
    background-color:black;
}

/*why are your here*/

P { 
    color:white;
    text-align: center;
    font-size: 200%;
}

/*buton*/

.button {
    border: none;
    color: rgb(10, 10, 10);
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {background-color: #000000;}
